* {
  margin: 0;
  padding: 0;
}

main {
  font-family: "Courier New", Courier, monospace;
  height: auto;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chats {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}
